.dashboardContainer{
  display: flex;
}

.dashboardContainer nav h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #555;
  color: white;
}

.dashboardContainer nav{
  width: 30%;
  background-color: #111111ff;
}

.dashboardContainer nav ul{
  display: flex;
  flex-direction: column;
  padding-inline-start: 0;
}

.dashboardContainer nav h2{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: white;
  text-align: center;
  margin: 1rem auto;
  font-size: 18px;
}

.dashboardButton{
  display: block;
  width: 100%;
  background-color: black;
  padding: 1rem;
  color: white;
  cursor: pointer;
  border-left: 1.5px solid salmon;
  font-size: 14px;
  transition: .3s;
}

.dashboardButton:hover{
  background-color: #1f1f1f;
  color: white;
  border-left: 2px solid salmon;
}

.dashboardBody{
  display: flex;
  width: 70%;
  background-color: #eeeeef;
}

.productMenu input{
  padding: .7rem;
  width: 60%;
  margin: .5rem auto;
  font-size: 20px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #777;
  outline: none;
  color: white;
}

.productMenu label{
  font-family: arial;
  
}

.productMenu button{
  margin: 0 auto;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 1rem;
}

.productMenu button:hover{
  background-color: #fff;
  color: black;
  border-color: white;
}

.productMenu h2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #555;
}

/* UPDATE PRODUCTS */

.searchButton{
  background-color: transparent;
  border: none;
  color: white;
  font-size: 18px;
  justify-content: center;
  transition: .3s;
}

.searchButton:hover{
  background-color: transparent;
  color: #777;
}

.productMenu{
  display: flex;
  flex-direction: column;
  margin: 2rem 20%;
}

.productWrapper{
  padding-inline-start: 0;
}

.productList{
  display: flex;
  width: 80%;
  align-items: center;
  font-family: verdana;
  border: 1px solid #555;
  padding: 1rem;
  margin: .5rem auto;
  background-color: transparent;
  color: #ddd;
  justify-content: space-between;
}

.updateProductList{
  display: flex;
  width: 80%;
  align-items: center;
  font-family: verdana;
  border: 1px solid #555;
  padding: 1rem;
  margin: .5rem auto;
  background-color: transparent;
  color: #ddd;
  justify-content: space-between;
}

.productListImage{
  width: 100px;
  height: auto;
  border: 1px solid #ddd;
}

.productListImage img{
  width: 100%;
  height: auto;
}

/* USERS */

.userList{
  display: flex;
  width: 80%;
  align-items: center;
  font-family: verdana;
  border: 1px solid #555;
  padding: 2rem;
  margin: .5rem auto;
  background-color: transparent;
  color: #ddd;
  justify-content: space-between;
  font-size: 16px;
  cursor: default;
}

@media (max-width: 500px) {
  .productMenu{
    margin: 0;
  }
  .productMenu input{
    width: 90%;
  }
  .productMenu select{
    width: 100%;
  }
  .dashboardBody{
    width: 60%;
  }
  .dashboardContainer nav{
    width: 40%;
  }
  .productList{
    width: 95%;
  }

  .updateProductList{
    width: 95%;
    padding: 0;
    margin: 0;
    flex-direction: column;
  }
  .updateProductList h6:first-of-type{
    display: none;
  }
  .updateProductList h5{
    font-size: 15px;
  }
  .updateProductList h6{
    font-size: 12px;
  }
  .updateProductList i{
    font-size: 15px;
    padding: .5rem;
  }

  /*  */

  .userList{
    flex-direction: column;
    width: 95%;
    padding: .5rem;
  }
}