.purchases-container{
  display: flex;
  flex-direction: column;
  background-color: #111;
  border: 1px solid #ddd;
  padding: .5rem;
  color: #fff;
  font-family: verdana;
}

.purchases-container h2{
  text-align: center;
  margin: auto;
}

.purchase-wrapper{
  margin: 1rem;
  border: 1px solid #ddd;
}

.purchase-wrapper li{
  display: flex;
  align-self: center;
  padding: 1rem;
}

.purchase-wrapper ul li> *{
  font-weight: 300;
  align-self: center;
  flex: 4;
}

.purchase-wrapper ul button{
  background-color: transparent;
  color: #fff;
  font-size: 14px;
  flex: 1;
  border: none;
  cursor: pointer;
}

.detail-container{
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 3;
  margin: 0 auto;
  width: 99%;
  height: auto;
  background-color: #111;
  color: #fff;
  border: 1px solid #ddd;
}

.detail-container nav{
  display: flex;
}

.detail-container nav button{
  border: none;
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  margin-right: 1rem;
}

.detail-wrapper{
  display: flex;
  margin: .5rem 1rem;
  border: 1px solid #777;
}

.detail-wrapper h5, .detail-wrapper h4{
  flex: 1;
  align-self: center;
  text-align: center;
}
